* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
}
.input-box {
  display: block;
  margin: 5px 0;
}
.submitButton {
  width: 100%;
  cursor: pointer;
}

.form > div {
  margin: 10px;
}
