h2 {
    font-size: 90px;
    background-color: #ff7d7d;
}

p {
    margin: 35px 0px;
    color:brown;
}

/* CSS Classes */
.food-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.foods {
    display: inline-block;
    background-color: yellow;
}

/* CSS Class */
.food {
    background-color: blueviolet;
}


/* CSS ID */
#day-question {
    font-weight: 700;
}

/* ID --> used to select one element: select with a "#" */
/* Class --> used to select multiple elements: select with a "." */