.TaskList-task {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 237, 237);
  font-size: 14px;
  padding: 8px;
  margin: 6px 0;
}

.TaskList-delete_icon {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(202, 16, 16);
}
