.App {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: blueviolet;
  width: 125px;
  padding: 30px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.avatar {
  width: 100px;
}

.card > span {
  color: white;
}
