.list_btn {
  border: 3px solid blue;
  padding: 1px 15px;
  margin: 10px;
  border-radius: 5px;
}

.list_btn:hover {
  border: 3px solid red;
  cursor: pointer;
}

.list_top {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  /* height: 100vh; */
  margin: 0 auto;
  font-family: inherit;
}

.active {
  border: 3px solid red;
}
/* FLEX CONTAINER (Parent) */
/* justify-content;
align-items;
flex-direction;
*/

/* FLEX ITEM (child) */
/* align-self: ; */
