.task-form__control {
  display: flex;
  flex-direction: column;
}

.task-form__control label {
  font-size: 14px;
  font-weight: 600;
}
.task-form__control input {
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0;
  font-family: inherit;
}

.btn {
  padding: 5px;
  background-color: black;
  border-radius: 3px;
  color: white;
  font-family: inherit;
  margin-bottom: 5px;
}
